/* ------------------------------------------- */
:root {
  --general-text-color: #757575;
  --link-hover-color: #2196f3;
  --tit-text-color: #212121;
  --white-text-color: #FFFFFF;
  --contact-text-color:rgba(255, 255, 255, 0.6);
  --bcg-filtr-color:#F5F4FA;
}
/* ------------------------------------------- */
body {
  background-color: var(--white-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--general-text-color);
  font-size: 14px;
}
/* ------------------------------------------- */
/* Hedder */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--link-hover-color);
  text-decoration: none;
}
.std {
  color: var(--tit-text-color);
}
.nav-list .link {
  text-decoration: none;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.14;
  color: var(--tit-text-color);
}
.nav-list .link.current {
  color: var(--link-hover-color);
}
.nav-list a:hover,
.nav-list a:focus {
color: var(--link-hover-color); 
}
.contact a {
  font-weight: 500;
  text-decoration: none;
  color: var(--general-text-color);
}
.contact a:hover,
.contact a:focus {
  color: var(--link-hover-color);
}
/* Hedder */
/* ------------------------------------------- */
/* Section one */
.main-tit h1{
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* text-align: center; */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.main-tit button:hover,
.main-tit button:focus {
  background-color: #188CE8 ;
}
.main-tit button {
  cursor: pointer;
  background-color: var(--link-hover-color);
  color: var(--white-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
/* Section one */
/* ------------------------------------------- */
/* Section two */
.peculiarities-tit {
  color: var(--tit-text-color);
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
}
.peculiarities-par {
  line-height: 1.71;
}
/* Section two */
/* ------------------------------------------- */
/* Section three */
.second-tit {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  /* text-align: center; */
  color: var(--tit-text-color);
}
/* Section three */
/* ------------------------------------------- */
/* Section four */
.squad {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* text-align: center; */
  color: var(--tit-text-color);
}
.squad-position {
  font-size: 16px;
  line-height: 1.18;
  /* text-align: center; */
}
/* Section four */
/* ------------------------------------------- */
/* Filtr */
.filtr {
  cursor: pointer;
  color: var(--tit-text-color);
  background-color: var(--bcg-filtr-color);
  font-family: Roboto,sans-serif;  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.filtr:hover,
.filtr:focus {
  background-color: var(--link-hover-color);
  color: var(--white-text-color);
}

/* Filtr */
/* ------------------------------------------- */
/* Project */
.project-tit {
  color: var(--tit-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-link {
  text-decoration: none;
}
.product {
  color: var(--general-text-color);
  font-size: 16px;
  line-height: 1.88;
}
/* Project */
/* ------------------------------------------- */
/* Footer */
.basement-std {
  color: var(--white-text-color);
}
.basement-contact {
  color: var(--contact-text-color);
  text-decoration: none;
}
.basement-contact:hover,
.basement-contact:focus {
  color: var(--link-hover-color);
}
.map {
  text-decoration: none;
  color: var(--white-text-color);
}
.basement-list {
  font-style: normal;
  line-height: 1.71;
}
/* Footer */
/* ------------------------------------------- */
/* ul {
  list-style: none;
} */